.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.action-button {
  text-decoration: none;
  color: inherit;
  min-height: 30px;
  width: fit-content;
  padding: 0 var(--small-gap);
  border-radius: var(--border-radius);
  border: var(--border-controls);
}
form {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  width: 100%;
}

form > a {
  display: inline-block;
  margin: 5px;
}

input {
  flex: 1;
  min-height: 30px;
  padding: 0 var(--small-gap);
  border-radius: var(--border-radius);
  border: var(--border-controls);
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

@media (width >=500px) {
  form {
    max-width: 500px;
  }
}