.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--small-gap);
}


form {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  width: 100%;
}

input {
  flex: 1;
  min-height: 30px;
  padding: 0 var(--small-gap);
  border-radius: var(--border-radius);
  border: var(--border-controls);
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

@media (width >=500px) {
  form {
    max-width: 500px;
  }
}