.headbox {
  display: flex;
  width: 50%;
  justify-content: center;
  border-radius: 12px;
  background-color: aqua;
  background: #ffffff;
  box-shadow: var(--box-shadow);
  border: var(--border-controls);
}

.mealboxlist {
  position: fixed;
  top: 70px;
  bottom: 80px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.mealbox {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  background-color: aqua;
  background: #ffffff;
  box-shadow: var(--box-shadow);
  border: var(--border-controls);
}
