.setting-link {
  padding: var(--medium-gap);
  border-bottom: 1px solid var(--color-lightgrey2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.setting-link:hover {
  background-color: var(--color-hover-primary);
  filter: brightness(0.95);
}

.setting-name {
  flex: 1;
  margin-left: var(--medium-gap);
  color: var(--color-text);
}

main {
  padding: 0;
}

.setting-icon {
  height: 50px;
  width: 50px;
}
