:root {
  /* css variables: use like this: property: var(--var-name); */
  --small-gap: 10px;
  --medium-gap: 20px;
  --big-gap: 30px;

  --color-primary: lightblue;
  --color-secondary: antiquewhite;
  --color-alert: red;
  --color-selected: lightblue;
  --color-lightgrey: #efefef;

  --border-radius: 8px;

  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  --border-controls: 1px solid grey;
}

@font-face {
  font-family: roboto; /* set name */
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf); /* url of the font */
}

body {
  margin: 0;
  box-sizing: border-box; /* height & width are calculated with padding/margin */
  background-color: rgb(226, 239, 243);
  font-family: "roboto"; /* whole project uses same font */
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

.navigation {
  position: fixed;
  bottom: 0px;
  display: flex;
  height: 80px;
  width: 100vw;
  background-color: var(--color-primary);
  align-items: center;
  justify-content: space-around;
}

.navigationbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationbox img {
  height: 34px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 50px;
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
  gap: var(--small-gap);
}

.addbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 100px;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
  background-color: var(--color-lightgrey);
  box-shadow: var(--box-shadow);
  border: var(--border-controls);
  transition: all 125ms;
}

.addbox:hover {
  background-color: var(--color-secondary);
}

.selected {
  background-color: var(--color-selected) !important;
}

.listbox {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: var(--border-controls);
  padding: 5px 10px;
  background-color: var(--color-lightgrey);
}

main {
  margin-top: 50px;
  padding: var(--medium-gap);
}

nav {
  display: flex;
  justify-content: center;
  gap: var(--small-gap);
}

ul {
  list-style-type: none;
  margin-top: var(--big-gap);
}

li {
  margin-bottom: var(--small-gap);
  gap: var(--small-gap);
  display: flex;
  align-items: center;
}

.add-item {
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius);
  border: var(--border-controls);
  display: flex;
  align-items: center;
  justify-content: center;
}
