:root {
  /* css variables: use like this: property: var(--var-name); */
  --small-gap: 10px;
  --medium-gap: 20px;
  --big-gap: 30px;

  --color-primary: lightblue;
  --color-secondary: antiquewhite;
  --color-action-button: #21a1ee;
  --color-alert: red;
  --color-success: limegreen;
  --color-selected: lightblue;
  --color-lightgrey1: #efefef;
  --color-lightgrey2: #bfbfbf;

  --color-hover-primary: rgba(226, 239, 243, 1);
  /* --color-hover-primary: rgba(173, 216, 230, 6); */
  /* --color-text: #5f6368; */
  --color-text: #45484b;

  --border-radius: 8px;

  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  --border-controls: 1px solid grey;

  --header-height: 80px;
  --footer-height: 80px;
}

@font-face {
  font-family: roboto; /* set name */
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf); /* url of the font */
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(226, 239, 243);
  font-family: "roboto";
  color: var(--color-text);
}

svg {
  fill: var(--color-text);

  height: 30px;
  width: 30px;
}

.svg-red {
  fill: #ff0000;
}

.svg-green {
  fill: #00c500;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

.navigation {
  position: fixed;
  bottom: 0px;
  display: flex;
  height: var(--footer-height);
  width: 100vw;
  background-color: var(--color-primary);
  align-items: center;
  justify-content: space-around;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: var(--header-height);
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
  gap: var(--small-gap);
}

header svg {
  height: 30px;
  width: 30px;
}

.addbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 100px;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
  background-color: var(--color-lightgrey1);
  box-shadow: var(--box-shadow);
  border: var(--border-controls);
  transition: all 125ms;
}

.addbox:hover {
  background-color: var(--color-secondary);
}

.selected {
  background-color: var(--color-selected) !important;
}

.listbox {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: var(--border-controls);
  padding: 5px 10px;
  background-color: var(--color-lightgrey1);
}

main {
  margin-top: var(--header-height);
  padding: var(--medium-gap);
}

nav {
  display: flex;
  justify-content: center;
  gap: var(--small-gap);
}

ul {
  list-style-type: none;
  margin-top: var(--big-gap);
}

li {
  margin-bottom: var(--small-gap);
  gap: var(--small-gap);
  display: flex;
  align-items: center;
}

.add-item {
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius);
  border: var(--border-controls);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: inherit;
  cursor: pointer;
}

.icon-button img {
  height: 30px;
  width: 30px;
}

.icon-button:hover {
  filter: brightness(0.95);
}

.selected svg {
  fill: var(--color-action-button);
}
