.add-item-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  height: fit-content;
  gap: var(--small-gap);

  input {
    height: var(--form-control-height);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-text);
    outline: none;
    padding: 8px 12px;
    width: 100%;
  }
}
