footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--footer-height);
  background-color: var(--color-primary);
}
